<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite">

	<test name="SOI Application Test on Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.productStore.stepdefinitions.TestRunner">
			</class>
		</classes>
	</test>

	
</suite>